* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230324/pngtree-planet-sci-fi-city-image_2070864.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cinzel;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.planet-card h2 {
  margin-top: 0;
}

.residents-list {
  list-style: none;
  padding: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.planet-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.planet-card:hover {
  transform: translateY(-5px);
}

.planet-card h2 {
  margin-top: 0;
}

.planet-info {
  margin-bottom: 15px;
}

.planet-info p {
  margin: 5px 0;
}

.pagination {
  margin-top: 20px;
  padding-bottom: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  background-color: #bebfc2;
  color: #131212;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: cinzel;
}

.pagination button:hover {
  font-family: Hedvig;
  font-weight: 6 00;
  background-color: white;
  color: #080e19;
}

.residents-details {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
}
